a:hover{
  color:rgb(93, 93, 154);
  
}
.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  
}
.log-out-button{
  border-color: bisque;
  border-radius: 5%;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(17, 7, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;

}

a {
  color:rgb(191, 184, 184);
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
strong{
  color:#413e3e;
}
.createPostPage {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cpContainer {
  width: 60%;
  height: 100%;
  margin : 2px 30px;
  justify-content: center;
  padding: 20px;
  background-color: rgb(15, 5, 63);
  border-radius: 12px;
  color: white;
  align-items: center;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;

  padding :4px 4px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage p {
  font-size: 30px;
}

.log-out-button{
  background-color: rgb(211, 93, 113);
  border-radius: 5%;
}
/* GOOGLE BUTTOn */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.homePage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.user{
  color:#b8c2d5;
}
.homePage .post {
  width: 70%;
  height: auto;
  max-height: 700px;
  background-color: rgb(10, 15, 56);
  box-shadow: rgb(84, 120, 177) 2px 6px 10px;
  margin: 20px 20px;
  padding: 20px ;
  border-radius: 15px;
  align-items: center;
}

.post .postHeader {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  overflow-y:hidden;

  

}
.likes{
  text-align: end;
}
.postHeader .title {
  text-decoration:solid;
  color:rgb(157, 172, 215);
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.postHeader .deletePost {
  
  margin-right: 30px;
}

.deletePost button {
  border: none;
  
  background: none;
  font-size: 20px;
  cursor: pointer;
  color:rgb(111, 43, 43);
}

.post .postTextContainer {
  word-wrap: break-word;
  font-weight: lighter;
  height: auto;
  max-height: 400px;
  width: 100%;
  color:rgb(162, 162, 166);
  overflow: hidden;
  overflow-y: auto;
}
.wrapper {
  padding: 10px;
}

.image--cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}